@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#f4f4f9;
    --gradient-white-bg:linear-gradient(0deg,#e9ecef 0%,#dee2e6 51%,#ced4da 100%);
    --gradient-color-bg:linear-gradient(180deg,#02c39a 0%,
                                                #00a896 51%,
                                                #028090 100%);
    --main-color:#00a896;
    --font-color:#02c39a;
    --hover-box-shadow:rgba(0,0,0,0.19)0px 10px 20px,
                       rgba(0,0,0,0.23)0px 6px 6px;     
    --gradient-white-bg2:linear-gradient(98deg,#e5eef7 0%,#fff 100%);
    --transition-speed: 1s;        
    background-color: #FFDEE9;
    background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);                           
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--background-image);
    overflow-x: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.right-header{
    display: flex;
    align-items: center;
    justify-content: end;
    grid-gap: .8rem;
}

.btn{
    background: var(--gradient-color-bg);
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .3s ease;
}

.btn:hover,.btn-box .d-CV:hover{
    box-shadow: var(--hover-box-shadow);
}

.menu-icon{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* background: blue; */
}

.menu-icon .bar,
.menu-icon::after,
.menu-icon::before{
    content: "";
    display: none;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background: #000;
    margin: 6px 0;
    transition: .4s;
}

.menu-icon.active::before{
    transform: rotate(-45deg) translate(-6px , 6px);
}

.menu-icon.active::after{
    transform: rotate(45deg)translate(-8px , -8px);
}

.menu-icon.active .bar{
    opacity: 0;
}

/* ==================== home section css code ============================ */

.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.about .view-skills {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #00a896;
    padding-top: 2.5%;
}

.about .skill-detailed {
    padding-top: 1rem;
    font-size: medium;
    font-weight: bold;
    color: #076b55;
}

.container {
    position: absolute;
    height: 300px;
    width: 1020px;
    top: 32%;
    left: 12.5%;
    display: flex;
}

span {
    color: #028090;
    opacity: 0.8;
}

.card {
    display: flex;
    height: 400px;
    width: 320px;
    background-color: #02c39a;
    border-radius: 20px;
    box-shadow: -0.5rem 0 0.5rem #00a896;
    transition: 0.4s ease-out;
    transition-duration: var(--transition-speed);
    position: relative;
}

.card:not(:first-child) {
    margin-left: -225px;
}

.card:hover {
    transform: translateY(-25px);
    transition: 0.4s ease-out;
    transition-duration: var(--transition-speed);
}

.card:hover~.card {
    position: relative;
    left: 10.5rem;
    transition: 0.4s ease;
    transition-duration: var(--transition-speed);
}

.title {
    color:rgb(35, 141, 136);
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: large;
    font-weight: bold;
}

.bar {
    position: absolute;
    top: 80px;
    left: 20px;
    height: 5px;
    width: 200px;
}

.emptybar {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgb(77, 202, 211) 65%, rgba(0, 255, 64, 1) 100%);
    transition: 0.6s ease-in-out;
    transition-duration: var(--transition-speed);
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-in-out;
    transition-duration: var(--transition-speed);
}