<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👍 About Me</title>
    <!-- boxicon css link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/educt.css">
    <link rel="shortcut icon" href="http://example.com/myicon.ico">
</head>
<body>
    <div class="overlay"></div>
    <header>
        <div class="header-container">
            <div class="right-header">
                <a href=".." class="btn"><i class='bx bx-arrow-back'></i>More about me</a>
            </div>
            <div class="right-header">
                <a href="https://www.linkedin.com/feed/" class="btn">Let's chat <i class='bx bx-message-dots' ></i></a>
                <div class="menu-icon">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </header>

    <section class="services" id="services">
        <div class="main-text">
            <h2 class="heading">My Education</h2>
            <span>what i have learnt</span>
        </div>

        <div class = "container" id="services-container">
            <div class = "card" id="servicesItem">
                <div class="icon-services">
                    <i class='bx bxl-python' ></i>
                    <span></span>
                </div>
                <h3>Education</h3>
                <div class = "content">
                    <p>Bachelor of Technology (B.Tech.) --  Computer Science</p>
                    <p>Chhattisgarh Swami Vivekanand Technical University</p>
                    <p>06/2014 - 06/2018 </p>
                    <p><img class="edu-icon" src="../static/img/checkmark.png" alt="*"> Developed an application using Android Studio for parent- teacher meeting</p>
                  
                </div>
            </div>

            <div class = "card" id="servicesItem">
                <div class="icon-services">
                    <i class='bx bx-code-alt' ></i>
                    <span></span>
                </div>
                <h3>Certifications</h3>
                <div class="content">
                    <p><img class="edu-icon" src="../static/img/experience.png" alt="*"> Python and Django Full Stack Web Developer ---- Udemy</p>
                    <p>Have made use of HTML, CSS, Javascript, BootStrap, JQuery and Django to create and maintain front-end projects.</p>
                    <p>Certificate no: UC-09061609-9312-437d-bedd-9514a545fd94</p>
                    <p>Certificate URL: ude.my/UC-09061609-9312-437d-bedd-9514a545fd94</p>
                </div>
            </div>
        <div>
    </section>
</body>
</html>