<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👍 About Me</title>
    <!-- boxicon css link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/exp.css">
    <link rel="shortcut icon" href="http://example.com/myicon.ico">
</head>
<body>
    <div class="overlay"></div>
    <header>
        <div class="header-container">
            <div class="right-header">
                <a href=".." class="btn"><i class='bx bx-arrow-back'></i>More about me</a>
            </div>
            <div class="right-header">
                <a href="https://www.linkedin.com/feed/" class="btn">Let's chat <i class='bx bx-message-dots' ></i></a>
                <div class="menu-icon">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </header>

    <section class="services" id="services">
        <div class="main-text">
            <h2 class="heading">My Experiences</h2>
            <span>what i have achieved</span>
        </div>

        <div class = "container" id="services-container">
            <div class = "card" id="servicesItem">
                <div class="icon-services">
                    <i class='bx bxl-python' ></i>
                    <span></span>
                </div>
                <h3>Python Developer</h3>
                <div class = "content">
                    <p>Developed and maintained 15+ production Python conversational AI applications</p>
                    <p>Used Numpy and Pandas to perform data analysis and visualization</p>
                    <p>Optimized Python code to reduce execution time by 50%</p>
                    <p>Designed and developed a Flask API that served over 50,000 requests per day</p>
                </div>
            </div>

            <div class = "card" id="servicesItem">
                <div class="icon-services">
                    <i class='bx bx-code-alt' ></i>
                    <span></span>
                </div>
                <h3>Azure Cloud Engineer</h3>
                <div class="content">
                    <p>Worked in conjunction with the data migration team to perform clean and precise data migration plans.</p>
                    <p>Responsibility for working in situations where need to investigate suspicious behavior in assets/storage devices
                        handling live data of customers.</p>
                    <p>Also, experience in automating daily and repetitive tasks using Python scripting.</p>
                </div>
            </div>
        <div>
    </section>
</body>
</html>