<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👌| Python Developer</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- boxicon css link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Favicon Ico -->
    <link rel="shortcut icon" href="http://example.com/myicon.ico">
</head>
<body>
    <div class="overlay"></div>
    <header>
        <div class="header-container">
            <a href="#" class="logo" style="pointer-events: none"><img src="../static/img/logo.gif" alt="Logo"></a>
            <ul class="navlist">
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
            <div class="right-header">
                <a href="https://www.linkedin.com/feed/" class="btn">Let's chat <i class='bx bx-message-dots' ></i></a>
                <div class="menu-icon">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </header>

    <section class="home" id="home">
        <div class="hero-info">
            <h3>Hey There,</h3>
            <h2>I'm Siddharth</h2>

            <!-- <div class="text-animate">
                <h2>Python Developer</h2>
            </div> -->

            <div class='console-container'>
                <span id='text'></span>
                <div class='console-underscore' id='console'>
                    &#95;
                </div>
                <p>Analytical and motivated professional offering 3+ years of experience designing and debugging Python applications/scripts. Hoping to advance my development skills to meet increasing customer requirements and add value to the company.</p>
            </div>

            <div class="btn-box">
                <a href="mailto:mishra07.siddharth@mail.com" class="btn">Hire Me Now ! <i class='bx bx-right-arrow-alt' ></i></a>
                <a href="../static/img/resume.pdf" target="_blank" class="btn d-CV">Download CV <i class='bx bx-download'></i></a>
            </div>

            <div class="social-media">
                <div class="bg-icon">
                    <a href="https://www.linkedin.com/in/siddmi/"><i class='bx bxl-linkedin'></i></a>
                    <span></span>
                </div>

                <div class="bg-icon">
                    <a href="https://github.com/siddharth07-ui"><i class='bx bxl-github'></i></a>
                    <span></span>
                </div>

                <div class="bg-icon">
                    <a href="https://stackoverflow.com/users/21210953/siddharth-mishra"><i class='bx bxl-stack-overflow'></i></a>
                    <span></span>
                </div>

                <div class="bg-icon">
                    <a href="https://medium.com/"><i class='bx bxl-medium'></i></a>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="img-hero">
            <img src="../static/img/hero.png" alt="">
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-img">
            <img src="../static/img/aboutMe.png" alt="" class="aboutHero">
        </div>
        <div class="container" id="about-container">
            <div class="about-content">
                <h2 class="heading">About Me</h2>
                <h4 class="title">I'm a Python Developer <span>with 3+ years of experience.</span></h4>
                <p>Skilled in writing clean and efficient code, collaborating with cross-functional teams, and identifying and fixing critical bugs.</p>
            </div>
            <div class="aboutme-container">
                <p>Checkout My:</p>
                <ul id="aboutme-nav">
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="/exp">Experience</a></li>
                    <li><a href="/educt">Education</a></li>
                </ul>
            </div>
        </div>        
    </section>

    <section class="services" id="services">
        <div class="main-text">
            <h2 class="heading">My Services</h2>
            <span>what i will do for you</span>
        </div>

        <div class = container id="services-container">
            <div class = card id="servicesItem">
                <div class="icon-services">
                    <i class='bx bxl-python' ></i>
                    <span></span>
                </div>
                <h3>Python Developer</h3>
                <div class = "content">
                    <p>Using Python programming language and other related technologies, I can create optimized and secure web applications.</p>
                </div>
            </div>

            <div class = card id="servicesItem">
                <div class="icon-services">
                    <i class='bx bx-code-alt' ></i>
                    <span></span>
                </div>
                <h3>Web Development</h3>
                <div class="content">
                    <p>Since, I am into web development too, using my skillset in Django, HTML, CSS and Javascript, I can create amazing websites.</p>
                </div>
            </div>

            <div class = card id="servicesItem">
                <div class="icon-services">
                    <i class='bx bx-headphone' ></i>
                    <span></span>
                </div>
                <h3>Customer Management</h3>
                <div class="content">
                    <p>Using my experience, I can help you to manage your customers and maintain fluent communication with them.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Copyright © 2023 by <span>Siddharth Mishra</span> || All Right Reservd.</p>
    </footer>

    <div id="progress">
        <span id="progress-value">
            <i class='bx bxs-chevrons-up' ></i>
        </span>
    </div>

    <!-- scroll reveal  -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Swiper JS -->
      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- mixitup cdn js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
    <script src="../static/javascript/main.js"></script>
</body>
</html>