<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👍 About Me</title>
    <!-- boxicon css link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/skills.css">
    <link rel="shortcut icon" href="http://example.com/myicon.ico">
</head>
<body>
    <div class="overlay"></div>
    <header>
        <div class="header-container">
            <div class="right-header">
                <a href=".." class="btn"><i class='bx bx-arrow-back'></i>More about me</a>
            </div>
            <div class="right-header">
                <a href="https://www.linkedin.com/feed/" class="btn">Let's chat <i class='bx bx-message-dots' ></i></a>
                <div class="menu-icon">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </header>

    <section class="about">
        <h3 class="view-skills">View <span>My Skills</span></h3>
        <div class="container">
            <div class="card">
                <h3 class="title">Python</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Have used Python to design Conversation AI voicebots which have increased customer loyalty and also made scripts for automating daily tasks.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">AWS</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Have integrated Boto3 with code to access AWS cloud data. Also worked on managing EC2 instances as well as S3 buckets. 
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">Linux</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Very clear understanding of Linux commands to perform daily tasks. Have also worked using Linux CLI for manipulating files and folders, user permissions, etc.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">Git</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Strong fundamental understanding of Git. Have used Github and Gitlab for version control. Also used them for storing and distributing files with team mates.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">Flask</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Have created APIs using Flask which have handled more than 50,000 requests per day. Also debugged APIs created by other developers and made them efficient and scalable.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">Redis</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Used Redis in my projects to implement caching in my projects. Have a good understanding of manipulating data using Redis. 
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">CI/CD</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Have created a website using frontend tech stack and deployed it to AWS using CI/CD. Basics of creating pipelines, debugging errors and version control.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">SQL</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Strong understanding of database query using SQL query language. Also used this for creating and managing databases used in projects.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">MongoDB</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Have worked with MongoDB to create, access, update and delete data from development databases. Queried and visualized customer data from production datasbes using MongoDB.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">Django</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Creating front-end projects using Django framework. Have established a strong fundamental knowledge in this field.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">HTML/CSS</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Have created a basic Tic Tac Toe game for clearing basics of HTML and CSS. Have also added animations and modifications to the game.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">Pandas/Numpy</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Used Pandas and Numpy in day to day activity to clean and manipulate customer's data and store it for visualization or analytical purposed.
                    </div>
                </div>
            </div>
            <div class="card">
                <h3 class="title">NLP</h3>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                    <div class="skill-detailed">
                        Have used basic NLP techniques like Stemming, Lemmatization, Stop words removal and Sentiment Analysis to further enhance ML models that have been used in production projects. 
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>